<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>EhfYFk1e3kpMUMg0w1EYeBTmZykPov34</string>
	<key>Domain</key>
	<string>dev-y8kzi2o4.us.auth0.com</string>
</dict>
</plist>
